* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #000000;
    color: var(--main-color);
    background-image: url("/20_02_2024/img/fondo2.jpg");
    background-repeat: repeat;
}

:root {
    --main-color: #5321c7;
    
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
    text-shadow: 1px 1px #ffffff;
}

#texto-cabecera{
    text-shadow: 0.5px 0.5px #ffffff;
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    
    
}
footer p{
    color: white;
}

footer p a {
    color:white;
    text-decoration: none;
  }

#idiomas {
    background-color: #f4f4f4;
    padding: 5px;
}

.lenguajes-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B7C9F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: #f4f4f4;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B7C9F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
    margin-top: 20px;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #f4f4f4;
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#B7C9F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: #f4f4f4;
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#B7C9F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
    margin-top: 20px;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: #f4f4f4;
    padding: 20px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.cursos-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B7C9F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}

#java img{
    width: 100px;
    height: 120px;
}

#C img{
    width: 100px;
    height: 110px;
}

#unity img{
    width: 100px;
    height: 110px;
}

#win_y_linux img{
    width: 200px;
    height: 120px;
}

#bandera img{
    width: 100px;
    height: 120px;
}

#bandera2 img{
    width: 120px;
    height: 100px;
}
#bandera3 img{
    width: 100px;
    height: 70px;
}

#sql img{
    width: 100px;
    height: 50px;
}